/build
/dist
/.idea
/gwsumm.egg-info
.DS_store
*.pyc
/gwsumm/_version.py
/docs/_build
/docs/_generated
/docs/api/modules.rst
/docs/api/gwsumm.*
/docs/api/api
/*.patch
.nfs*
*.swp
/.cache/
/.eggs/
/*.egg
/share/css/
.sass-cache
/gwsumm/html/static/
/.coverage
