language: python

dist: xenial

python:
  - '3.5'
  - '3.6'
  - '3.7'

env:
  - PIP_FLAGS=""
  - PIP_FLAGS="--upgrade --pre"

before_install:
  - python -m pip install --upgrade pip
  - python -m pip install ${PIP_FLAGS} -r requirements.txt
  - npm -g install acorn csslint

install:
  # note: need --editable for executable coverage with `which ...` to work
  - python -m pip install --editable .

script:
  # run flake8
  - python -m flake8 .
  - python -m flake8 bin/*
  # run test suite
  - python -m pytest --pyargs gwsumm --cov gwsumm
  # test executables
  - python -m coverage run --append $(which gw_summary) --help
  - python -m coverage run --append $(which gw_summary) day --help
  - python -m coverage run --append $(which gw_summary) week --help
  - python -m coverage run --append $(which gw_summary) month --help
  - python -m coverage run --append $(which gw_summary) gps --help
  - python -m coverage run --append $(which gw_summary_pipe) --help
  - python -m coverage run --append $(which gwsumm-plot-triggers) --help
  - python -m coverage run --append $(which gwsumm-plot-guardian) --help
  # test CSS and JavaScript
  - csslint share/sass/gwsumm.scss
  - acorn --silent share/js/gwsumm.js

after_success:
  - python -m pip install ${PIP_FLAGS} codecov
  - python -m codecov --flags $(uname) python${TRAVIS_PYTHON_VERSION/./}

cache:
  pip: true
before_cache:
  - rm -f $HOME/.cache/pip/log/debug.log
