# build requirements
setuptools
libsass
jsmin

# core requirements
enum34 ; python_version < '3'
python-dateutil
lxml
numpy>=1.10
scipy>=1.2.0
matplotlib>=2.0
astropy>=1.2.1
lalsuite
gwtrigfind
gwdatafind
lscsoft-glue>=1.60.0
ligo-segments
pygments
MarkupPy
gwdetchar>=0.3.0
gwpy>=0.14.2

# optional extras (not module-level imports)
pykerberos
h5py
dqsegdb>=1.4.2
ligo-gracedb>=2.0.0

# testing extras
pytest>=2.8,<3.7
pytest-cov
mock ; python_version < '3'

# docs extras
sphinx
astropy_helpers < 3.0 ; python_version < '3'
astropy_helpers ; python_version >= '3'
