pykerberos
m2crypto
python-cjson
h5py
lxml
https://github.com/ligovirgo/trigfind/archive/v0.3.tar.gz
http://software.ligo.org/lscsoft/source/glue-1.49.1.tar.gz
http://software.ligo.org/lscsoft/source/dqsegdb-1.2.2.tar.gz
gwpy
libsass
jsmin
