/*
 * gwsumm.scss - CSS extensions for bootstrap-ligo.css
 */

body {
		background-color: #eee;
}

.navbar {
		// map page to another IFO
		.base-map {
				padding-right: 5px;
				margin-right: 10px;
				.dropdown-menu {
						min-width: 44px;
						width: 100%;
						a {
								padding-left: 12px;
								cursor: pointer;
						}
						@media (min-width: 768px) {
								margin-left: -15px;
								min-width: 52px;
								a {
										padding-left: 16px;
								}
						}
				}
		}

		// state switch
		.state-switch  {
				.dropdown-header {
						padding-left: 20px;
						padding-right: 20px;
						white-space: normal;;
				}
				@media (min-width: 768px) {
						position: absolute;
						right: 0;
				}
		}
}

// detchar stuff
#idq img,
#upv img {
		width: auto;
}

#upv font {
		color: black;
}

#idq > h1:first-of-type,
#idq > hr:first-of-type,
#idq > p:first-of-type {
		display: none;
}

#stamp-pem .fancybox-iframe {
		width: 1800px;
		height: 1000px;
		zoom: 1.00;
		-moz-transform: scale(0.55);
		-moz-transform-origin: 0 0;
		-o-transform: scale(0.55);
		-o-transform-origin: 0 0;
		-webkit-transform: scale(0.55);
		-webkit-transform-origin: 0 0;
}

// disqus comments
.disqus_thread {
		padding-bottom: 20px;
}
