/*
 *
 * Summary page (and friends) standard style sheet
 * Duncan M. Macleod <duncan.macleod@ligo.org>.
 *
 */

/*****************************************************************************/
/* DOCUMENT                                                                  */

html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 141px;
}

.inline-block {
    display: inline-block;
    padding-right: 10px;
}

.text-right {
    text-align: right;
}

.container {
    padding: 0 40px;
}

/* below required to get the navbar indented correctly in full page */
@media (min-width: 1200px) {
    #wrap .container {
        width:1170px;
    }
}
@media (min-width: 979px) and (max-width: 1200px) {
    #wrap .container {
        width:960px;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    #wrap .container {
        width:744px;
    }
}

/* ------------------------------------------------------------------------- */
/* Header                                                                     */

@media (min-width: 768px) {
    .header-left > h1 {
        text-align: right;
    }
}

#header .row:first-child {
    padding: 8px 0;
}

#header h1 {
    padding: 0;
    margin: 0;
}

h1.normal {
    font-weight: normal;
}

/* ------------------------------------------------------------------------- */
/* Navigation bar                                                            */

.navbar-inner,
.navbar {
    background-color: #eee;
    background-image: none;
    border: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #555;
    // auto-gradient
    background-image: -ms-linear-gradient(bottom, #008000 0%, #74CF0C 100%);
    background-image: -moz-linear-gradient(bottom, #008000 0%, #74CF0C 100%);
    background-image: -o-linear-gradient(bottom, #008000 0%, #74CF0C 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #008000), color-stop(1, #74CF0C));
    background-image: -webkit-linear-gradient(bottom, #008000 0%, #74CF0C 100%);
    background-image: linear-gradient(to top, #008000 0%, #74CF0C 100%);
    background-size: 100% 41px;
    background-repeat: no-repeat;
    position: relative;
    margin-top: -1px !important;
}


@media (min-width: 768px) {
    .navbar {
        border-radius: 0px;
    }
}


.nav li.dropdown ul.dropdown-menu:before, .nav li.dropdown ul.dropdown-menu:after {
    display: none;
}

.navbar-text {
    color: white;
}

.navbar .nav > li > a {
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color:  #ddd;
}

.navbar .nav > li > a:link,
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus,
.navbar .nav > li > a:visited,
.navbar .nav > li > a:active {
    background-color: inherit !important;
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:active,
.navbar .nav > li > a:hover {
    color: white;
}

.caret {
    border-bottom-color: #ddd !important;
    border-top-color: #ddd !important;
}

#nav.affix {
    position: fixed;
    top: 0;
}

.navbar,
.navbar .dropdown{
    line-height: 10px;
    min-height: 20px;
}

.navbar a {
    line-height: 10px !important;
}

.navbar .dropdown-menu a {
    line-height: 20px !important;
}

#state {
    margin-top: 8px;
    color: #ddd;
}

#statemenu {
    width: auto;
    text-align: right;
}


.navbar-toggle {
    min-height: none;
    background-color: none;
    border: 1px solid #aaa;
    border: none;
    height: 25px;
    padding: 4px 10px 5px;
}

.navbar-toggle .icon-bar {
    margin-top: 2px !important;
    width: 15px;
    color: white;
    background-color: white;
}

@media (max-width: 767px) {
    .navbar-collapse a {
        color: #777 !important;
        text-shadow: none !important;
        padding-left: 22px !important;
    }

    .navbar-collapse a:hover {
        color: black !important;
    }

    .navbar-collapse a:not(.dropdown-toggle):hover {
       background-color: inherit;
    }

    .navbar-collapse .dropdown-menu li {
        margin-left: 20px;
    }

    .navbar-collapse .active {
        border-left: 2px solid #428bca !important;
        padding-left: -2px;
}

    .navbar-collapse .active > a {
        background-color: inherit !important;
    }

    .navbar-collapse .active > a:before {
       content: "";
       width: 2px;
       background-color: #428bca;
    }

}

.navbar-collapse .dropdown-menu {
    background-color: white;
}

.navbar-collapse .dropdown-menu .divider {
    background-color: #ccc;
}

/* ------------------------------------------------------------------------- */
/* Main                                                                      */

#main {
    padding-top: 10px;
}


@media (min-width: 1000px) {
    #main .row > div:after{
        content: "";
        background: #eee;
        position: absolute;
        bottom: 20%;
        right: 0;
        height: 60%;
        width: 1px;
    }

    #main .row > div:last-child:after {
        content: none;
    }
}

#main h1 {
    margin-top: 0;
}

.row-divider {
    margin: 30px 10%;
    width: 80%;
}

/* ------------------------------------------------------------------------- */
/* Calendar                                                                  */

a#calendar {
    cursor: pointer;
    color: white;
}

a#calendar:active,
a#calendar:hover {
    background-color: inherit;
}

/* ------------------------------------------------------------------------- */
/* Accordion                                                                 */

#accordion {
    padding-top: 10px;
}

.panel-default {
    margin-top: 10px;
}

.panel-default > a {
    text-decoration: none;
    padding-top: 10px;
}

.panel-default .panel-heading {
    color: #333333;
    background-color: #f5f5f5;
    border-bottom: 1px solid;
    border-color: #dddddd;
}

.panel-body {
    padding-bottom: 5px;
}

/* ------------------------------------------------------------------------- */
/* Footer                                                                    */

footer {
    position: relative;
    margin-top: -121px;
    height: 120px;
    clear: both;
    // margin-top = height + padding-top + padding-bottom
    padding-top: 20px;
    border-top: 1px solid;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    color: #aaa;
    font-size: small;
}

footer a {
    color: #aaa;
}

footer a:hover {
    text-decoration: underline;
}

footer > div {
    margin-top: 20px;
    margin-bottom: 20px;
}

footer p,
footer a {
    padding: 2px 0px;
    margin: 0;
    display: block;
}

/* ------------------------------------------------------------------------- */
/* Table                                                                     */

table.data th {
    border-bottom: 1px solid #333;
}

table.data th,
table.data td {
    padding-left: 20px;
    text-align: left;
}

table.data th:first-child,
table.data td:first-child {
    padding-left: 0px;
}

/* ------------------------------------------------------------------------- */
/* Image                                                                     */

img {
    width: 100%;
}
