/*
 *
 * Summary page (and friends) standard style sheet
 * Duncan M. Macleod <duncan.macleod@ligo.org>.
 *
 */

/* ------------------------------------------------------------------------- */
/* Table                                                                     */

table tr.tdiv {
  border-top: 1px solid #ccc;
}

table.data th {
  border-bottom: 1px solid #333;
}

table.data th,
table.data td {
  padding-left: 20px;
  text-align: left;
}

table.data th:first-child,
table.data td:first-child {
  padding-left: 0px;
}

table.watchdog {
  width: 100%;
}

table.wdtrips tr {
  border-bottom: 1px solid #ddd;
  vertical-align: top;
}

table.watchdog tr.header {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}

table.watchdog tr.IOP > th,
table.watchdog tr.IOP > td {
  color: #ddd;
}

table.watchdog th {
  border-bottom: 0;
}

/* ------------------------------------------------------------------------- */
/* Image                                                                     */

#idq > h1:first-of-type,
#idq > hr:first-of-type,
#idq > p:first-of-type {
  display: none;
}

/* ------------------------------------------------------------------------- */
/* Links                                                                     */

a.reference {
  display: inline;
}

/* ------------------------------------------------------------------------- */
/* DetChar                                                                   */

#idq img,
#upv img {
  width: auto;
}

#upv font {
  color: black;
}

.fancybox-iframe {
  width: 1800px;
  height: 1000px;
  zoom: 1.00;
  -moz-transform: scale(0.55);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.55);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.55);
  -webkit-transform-origin: 0 0;
}

.fancybox-nav {
  height: 10%;
  width: 5%;
}

